footer {
  background: #333;
}
.footer-menu {
  display: flex;
  max-width: 960px;
  color: white;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;
  text-align: center;
}
li {
  list-style: none;
}
@media (min-width: 800px) {
  .ml-large {
    margin-left: 12rem;
  }
}
